@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
.mar {
  margin-top: 100px;
  color: rgba(56, 98, 0, 255);
}
.d-sm-flex {
  margin-top: 20px;
}
.lead {
  color: black;
}
.exp {
  font-size: 40px;
  color: rgba(56, 98, 0, 255);
  text-align: center;
  margin-top: 150px;
}
.pe-5 {
  margin-top: 150px;
  color: rgba(56, 98, 0, 255);
  font-size: 40px;
}
.main-content {
  width: 50%;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  margin: 5em auto;
  display: flex;
}
.company__info {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
.fa-android {
  font-size: 3em;
}
.medmemo {
  margin-top: 200px;
}
.fp {
  text-align: end;
}
a:link,
a:visited {
  color: gray;
  text-decoration: none;
}
@media screen and (max-width: 640px) {
  .main-content {
    width: 90%;
  }
  .company__info {
    display: none;
  }
  .login_form {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}
@media screen and (min-width: 642px) and (max-width: 800px) {
  .main-content {
    width: 70%;
  }
}
.row > h2 {
  color: rgba(56, 98, 0, 255);
  font-size: 38px;
  padding-top: 20px;
}
.login_form {
  background-color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
form {
  padding: 0 2em;
}
.form__input {
  width: 100%;
  border: 0px solid transparent;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
  padding: 1em 0.5em 0.5em;
  padding-left: 2em;
  outline: none;
  margin: 1.5em auto;
  transition: all 0.5s ease;
}
.form__input:focus {
  border-bottom-color: rgba(56, 98, 0, 255);
  box-shadow: 0 0 5px rgba(0, 80, 80, 0.4);
  border-radius: 4px;
}
.btn {
  transition: all 0.5s ease;
  width: 100%;
  border-radius: 30px;
  color: rgba(56, 98, 0, 255);
  font-weight: 600;
  background-color: #fff;
  border: 1px solid rgba(56, 98, 0, 255);
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.btn:hover,
.btn:focus {
  background-color: rgba(56, 98, 0, 255);
  color: #fff;
}
